body {
  background-color: #226CE0; }

button {
  background-color: #226CE0;
  color: #86BBD8;
  font-family: sans-serif; }

.user-controls {
  background-color: #F03A47;
  border-style: solid;
  border-width: medium;
  border-color: #A5D0A8;
  box-shadow: 3px 3px 3px 0px #102E4A; }

.tile-space .tile .tile-front {
  background-color: #86BBD8;
  box-shadow: inset 0px -1px 1px #102E4A, inset 0px 1px 1px #102E4A;
  border: 1px solid black; }
.tile-space .tile .tile-back {
  background-color: #A5D0A8;
  box-shadow: inset 0px -1px 1px #102E4A, inset 0px 1px 1px #102E4A;
  border: 1px solid black; }
.tile-space.clicked {
  background-color: #102E4A; }

.selected {
  background-color: #c7e1c8;
  border: 1px solid #102E4A; }

p {
  color: #102E4A; }

select {
  background-color: white; }

h1, h2, h3 {
  color: #a8c5f3; }

header {
  background-color: #F03A47;
  border-style: solid;
  border-width: medium;
  border-color: #A5D0A8;
  border-radius: 0 0 10% 10%; }
  header h1 {
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
    letter-spacing: 10px; }

#question-mark {
  color: #86BBD8;
  border-color: #A5D0A8; }

.mines {
  background-color: #d7ead9;
  border-radius: 25%;
  border-style: double;
  border-color: #F03A47;
  border-width: 5px; }
  .mines h1 {
    color: #F03A47; }

.gameboard {
  box-shadow: 7px 7px 3px 0px #102E4A; }

.theme1 {
  background-color: #F35e41; }
  .theme1 button {
    background-color: #F35e41;
    color: #D8f1a0;
    font-family: "Bungee Inline"; }
  .theme1 .user-controls {
    background-color: #00A878; }
  .theme1 .tile-space .tile .tile-front {
    background-color: #D8f1a0;
    box-shadow: inset 0px -1px 1px #0B0500, inset 0px 1px 1px #0B0500;
    border: 1px solid black; }
  .theme1 .tile-space .tile .tile-back {
    background-color: #f3c178;
    box-shadow: inset 0px -1px 1px #0B0500, inset 0px 1px 1px #0B0500;
    border: 1px solid black; }
  .theme1 .tile-space.clicked {
    background-color: #0B0500; }
  .theme1 .selected {
    background-color: #f7d7a7;
    border: 1px solid #0B0500; }
  .theme1 p {
    color: #0B0500; }
  .theme1 select {
    background-color: white; }
  .theme1 h1, .theme1 h2, .theme1 h3 {
    color: #fcd8d1; }
  .theme1 header {
    background-color: #00A878;
    border-style: solid;
    border-width: medium;
    border-color: #f3c178;
    border-radius: 0 0 10% 10%; }
    .theme1 header h1 {
      text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
      letter-spacing: 5px; }
  .theme1 #question-mark {
    color: #D8f1a0;
    border-color: #f3c178; }
  .theme1 .mines {
    background-color: #f9e1be;
    border-radius: 25%;
    border-style: double;
    border-color: #00A878;
    border-width: 5px; }
    .theme1 .mines h1 {
      color: #00A878; }
  .theme1 .gameboard {
    box-shadow: 7px 7px 3px 0px #0B0500;
    border: 1px solid black; }

.theme3 {
  background-color: #2f4454; }
  .theme3 button {
    background-color: #2f4454;
    color: #1c3334;
    font-family: "Bungee Inline"; }
  .theme3 .user-controls {
    background-color: #2e151b; }
  .theme3 .tile-space .tile .tile-front {
    background-color: #1c3334;
    box-shadow: inset 0px -1px 1px #376e5f, inset 0px 1px 1px #376e5f;
    border: 1px solid black; }
  .theme3 .tile-space .tile .tile-back {
    background-color: #da7b93;
    box-shadow: inset 0px -1px 1px #376e5f, inset 0px 1px 1px #376e5f;
    border: 1px solid black; }
  .theme3 .tile-space.clicked {
    background-color: #376e5f; }
  .theme3 .selected {
    background-color: #e5a3b4;
    border: 1px solid #376e5f; }
  .theme3 p {
    color: #376e5f; }
  .theme3 select {
    background-color: white; }
  .theme3 h1, .theme3 h2, .theme3 h3 {
    color: #6e92ae; }
  .theme3 header {
    background-color: #2e151b;
    border-style: solid;
    border-width: medium;
    border-color: #da7b93;
    border-radius: 0 0 10% 10%; }
    .theme3 header h1 {
      text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
      letter-spacing: 5px; }
  .theme3 #question-mark {
    color: #1c3334;
    border-color: #da7b93; }
  .theme3 .mines {
    background-color: #ebb7c4;
    border-radius: 25%;
    border-style: double;
    border-color: #2e151b;
    border-width: 5px; }
    .theme3 .mines h1 {
      color: #2e151b; }
  .theme3 .gameboard {
    box-shadow: 7px 7px 3px 0px #376e5f;
    border: 1px solid black; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #226CE0;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: white;
    text-decoration: underline; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

/**
 * Basic typography style for copy text
 */
body {
  color: #102E4A;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h1 {
  font-family: 'Bungee Inline', cursive; }

h3 {
  font-family: 'Bungee', cursive; }

label {
  font-family: 'Open Sans', sans-serif; }

li {
  font-family: 'Open Sans', sans-serif; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

header {
  margin: 0;
  height: 16vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  header h1 {
    font-size: 7vw;
    margin: 0; }
  header #question-mark {
    border: 3px solid;
    border-radius: 50%;
    padding: 0% 3.2%;
    cursor: pointer; }

@media only screen and (min-width: 770px) {
  header {
    height: 20%; }

  #question-mark {
    font-size: 7vw;
    border: 2px solid;
    padding: 0% 1.5%; } }
#how-to {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  margin-left: auto; }

.how-to {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20%; }
  .how-to h1 {
    color: #F03A47; }
  .how-to ul {
    list-style: circle;
    padding: 0; }
  .how-to #close-howto {
    cursor: pointer;
    text-align: right;
    color: #226CE0;
    animation: roll 3s infinite;
    transform: rotate(30deg); }
@keyframes roll {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.user-controls {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0; }
  .user-controls > form {
    text-align: center; }
    .user-controls > form:nth-child(2) {
      margin-top: 5%; }

@media only screen and (min-width: 770px) {
  .user-controls {
    margin-left: auto;
    margin-right: auto;
    padding: 3.5%;
    flex-flow: row wrap;
    justify-content: center;
    width: 70%;
    margin-bottom: 130px; }
    .user-controls > form:first-child {
      margin-right: 5%;
      margin-top: 0; }
    .user-controls > form:nth-child(2) {
      margin-left: 10%;
      margin-top: 0; } }
@media only screen and (min-width: 1000px) {
  .user-controls {
    flex-flow: column wrap;
    justify-content: center;
    width: 25%;
    margin: 0 0 0 20px;
    height: auto; }
    .user-controls > form:nth-child(2) {
      margin-top: 55%;
      margin-left: 0; } }
footer {
  margin-top: auto;
  background-color: black;
  display: flex;
  flex-shrink: 0;
  flex-flow: column wrap;
  align-items: center;
  color: lightgrey; }
  footer ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0; }
  footer li {
    margin: 0;
    display: flex; }

button {
  width: 150px;
  min-height: 50px;
  border: 3px solid #fff;
  border-radius: 2%;
  margin-top: 10px;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  letter-spacing: 10px; }

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%; }

.main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto; }

@media only screen and (min-width: 770px) {
  .game {
    height: 100%;
    flex-basis: 60%;
    flex-grow: 1; } }
@media only screen and (min-width: 1000px) {
  .game {
    flex-flow: column wrap;
    padding: 10%; }

  .main-area {
    display: flex;
    flex-direction: row-reverse; } }
.gameboard {
  overflow: hidden;
  margin: 4% 0 8% 0;
  border: 1px solid black; }

.grid-gameboard {
  margin-top: 50px;
  border: 1px solid black;
  display: grid; }

@media only screen and (min-width: 770px) {
  .gameboard {
    margin: 0 0 20% 0; } }
.mines {
  height: 120px;
  width: 120px;
  margin: 5% 0% 5% 0%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0; }
  .mines h1 {
    margin: 0; }
  .mines p {
    font-size: 2.5vw;
    font-family: 'Bungee Hairline', cursive;
    margin: 0; }
  .mines > * {
    text-align: center; }

@media only screen and (min-width: 770px) {
  .mines p {
    font-size: 1em; } }
.tile-space {
  cursor: pointer;
  perspective: 200px;
  float: left; }
  .tile-space .tile {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d; }
    .tile-space .tile .tile-front {
      z-index: 10;
      background-size: contain;
      background-position: center; }
    .tile-space .tile .tile-back {
      transform: rotateY(180deg);
      background-size: contain;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center; }
    .tile-space .tile .tile-front, .tile-space .tile .tile-back {
      backface-visibility: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
      text-align: center; }
  .tile-space.clicked .tile {
    transform: rotateY(180deg); }
  .tile-space.flagged .tile-front {
    background-image: url("../img/flag.png"); }
  .tile-space.show-mine .tile-back {
    background-image: url("../img/bomb.png"); }

.tile-value {
  user-select: none; }

.select {
  min-width: 100px;
  text-align-last: center; }

label {
  display: block; }

/*# sourceMappingURL=main.css.map */
