// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  margin-top: auto;
  background-color: black;
  display: flex;
  flex-shrink: 0;
  flex-flow: column wrap;
  align-items: center;
  color: lightgrey;
  padding-bottom: 10px;
  
  ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
  }
  li{
    margin: 0 10px;
    display: flex;
  }


}
