// User controls include:  drop down forms for changing game menu and theme.

.user-controls{
  width: 100%;
  padding: 10% 0;
  display: flex;
  background-color: $brand-color;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;

  & > form {
    text-align: center;
    &:nth-child(2){
      margin-top: 5%;
    }
  }
}
///! put this mixin in the mixin folder
@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}
@media #{$medium}{
  .user-controls{
    @include push--auto;
    margin-top: 5%;
    padding: 3.5%;
    flex-flow: row wrap;
    justify-content: center;
    width: 70%;
    margin-bottom: 50px;
    & > form:first-child{
      margin-right: 5%;
      margin-top:0;
    }
    & > form:nth-child(2){
      margin-left: 10%;
      margin-top:0;
    }
  }
}
