// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button {
  width: 100%;
  padding: 1%;
  background-color: $brand-color;
}
