
// form-specific styles. forms are also styled in layout/user-controls
select {
  min-width: 100px;
  background-color: lighten( $brand-color, 10%);
  text-align: center;
}

label{
  display: block;
}
