.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 5% 10% 0% 10%;
  padding: 10%;
}

.main-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
}

@media #{$medium}{
  .game{
    height: 100%;
    flex-basis: 60%;
    flex-grow: 1;
  }
  .main-area{
  }
}

@media #{$large}{
  .game{
    flex-flow: column wrap;
    padding: 10%;

  }
  .main-area{
    display: flex;
    flex-direction: row-reverse;
  }
}
