.tile-space{
  // height: $tile-size;
  // width: $tile-size;
  cursor: pointer;
  perspective: 80px;  //placeholder value
  float:left;

  .tile{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    border: $tile-border;
    background-size: contain;
    background-position: center;
    //styling for tiles that have not yet been revealed
      .tile-front{
        background-color: $tile-color;
        z-index: 10;
      }
      .tile-back{
        transform: rotateY(180deg);
        background-color: white;
        background-size: contain;
        background-position: center;
      }
      .tile-front, .tile-back{
        backface-visibility: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
      }
  }

  &.clicked .tile{
    transform: rotateY(180deg);
  }
  //a revealed tile with no mine and no information
  &.empty{

  }

  //a hidden tile that has been marked with a flag by the player
  &.flagged .tile-front{
    background-image: url('../img/flag.png');
  }

  //a revealed tile with a mine on it (only displayed on game over)
  &.show-mine .tile-back{
    background-image: url('../img/bomb.png');
  }
}
