// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// /// base style variables
// $body-bg-color: #888;


// GAMEBOARD VARIABLES
$tile-size: 30px;
$tile-border: 1px solid black;
$gameboard-border: 1px solid black;

//DEFAULT COLOR VALUES
$primary: #F03A47;
$secondary: #226CE0;
$accent1: #86BBD8;
$accent2: #A5D0A8;
$color-text: #102E4A;
$tile-color: $accent1;
$theme-font: sans-serif;

//DEFAULT PAGE STYLES
body {
background-color: $secondary;
}

button {
  background-color: $secondary;
  color: $accent1;
  font-family: $theme-font;
}

.user-controls {
  background-color: $primary;
  border-style: solid;
  border-width: medium;
  border-color: $accent2;
  // box-shadow: 7px 7px 3px 0px $text-color;
}

.tile {
  // background-color: $accent;
  border: $tile-border;
  box-shadow: inset 0px -1px 1px $color-text, /*bottom internal shadow*/ inset 0px 1px 1px $color-text; /*top internal highlight*/
}

.selected {
  background-color: lighten($accent2,10%);
  border: 1px solid $color-text;
}

p {
  color: $color-text;
}

select {
  background-color: white;
}

h1, h2, h3 {
  color: lighten($secondary,30%);
}

header {
  background-color: $primary;
  border-style: solid;
  border-width: medium;
  border-color: $accent2;
  border-radius: 0 0 10% 10%;

  h1{
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  	letter-spacing: 10px;
  }
}

#question-mark {
  color: $accent1;
  border-color: $accent2;
}

.mines-remain {
  background-color: lighten($accent2,15%);
  border-radius: 25%;
  border-style: double;
  border-color: $primary;
  border-width: 5px;

  h1 {
    color: $primary;
  }
}

.gameboard {
  box-shadow: 7px 7px 3px 0px $color-text;
}


/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
// ------------------------


// currently using these breakpoints
//💻breakpoints🖥
$small: "only screen and (min-width: 480px) and (max-width 769px)";
$medium: "only screen and (min-width: 770px)";
$large: "only screen and (min-width: 1000px)";


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
