// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// /// base style variables
// $body-bg-color: #888;


// GAMEBOARD VARIABLES
$tile-size: 30px;
$tile-border: 1px solid black;
$tile-color: $accent2;
$gameboard-border: 1px solid black;

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
// ------------------------
// colors 🎨 section -- every variable pertaining to color in one place
// $body-bg-color:  #888;
// $tile-color: #CCC;
// $tile-border: 1px solid black;
//
// $gameboard-border: 1px solid black;
// /// Copy text color
// /// @type Color
// $text-color: rgb(34, 34, 34) !default;
// /// Main brand color
// /// @type Color
// $brand-color: rgb(229, 0, 80) !default;
// /// Light grey
// /// @type Color
// $light-grey: rgb(237, 237, 237) !default;
// /// Medium grey
// /// @type Color
// $mid-grey: rgb(153, 153, 153) !default;
// /// Dark grey
// /// @type Color
// $dark-grey: rgb(68, 68, 68) !default;


/// Breakpoints map (not in use)
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   'small': 320px,
//   'medium': 768px,
//   'large': 1024px,
// ) !default;

// currently using these breakpoints
//💻breakpoints🖥
$small: "only screen and (min-width: 480px) and (max-width 769px)";
$medium: "only screen and (min-width: 770px)";
$large: "only screen and (min-width: 1000px)";


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
