// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// /// base style variables
// $body-bg-color: #888;


// GAMEBOARD VARIABLES
// $tile-size: 80px; defined in JS
$tile-border: 1px solid black;
$gameboard-border: 1px solid black;



/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
// ------------------------


// currently using these breakpoints
//💻breakpoints🖥
$small: "only screen and (min-width: 480px) and (max-width 769px)";
$medium: "only screen and (min-width: 770px)";
$large: "only screen and (min-width: 1000px)";


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
